body {
    max-width: 800px;
    width: 80%;
    margin: auto;
}

.control{
    margin-top: 20px;
}

input{
    margin-left: 5px;
}

select{
    margin-left: 5px;
}

.textarea{
    margin-top: 15px;
}

.submit{
    margin-top: 30px;
    margin-bottom: 20px;
}

.cargo{
    margin-top: 0px;
}

.title{
    color: is-sucess;
}

.message-header{
    border-radius: 5px;
}

